@model IEnumerable<Lieu>

@{
    ViewData["Title"] = "Lieu";
}

<div class="d-flex justify-content-between mt-5 mb-5">

    <h2>Les parcs de la réserve</h2>

    <div>
        <a asp-action="Create" class="btn btn-success">Ajouter un parc</a>
    </div>
</div>

<div class="container mt-5">
    <div class="row ">
        @foreach (var item in Model)
        {
            <div class="col-3 d-flex mb-3">
                <div class="card flex-fill" style="width: 18rem;">
                    <div class="card-header text-center pt-3">
                        <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Nom)</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="=col-6">
                                <p class="fs-6 text-secondary">Type de lieu : </p>
                            </div>
                            <div class="=col-6">
                                <p class="fs-5 ">@Html.DisplayFor(modelItem => item.Type)</p>
                            </div>
                            <div class="text-center d-grid gap-2 mb-4">
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-block btn-success">+
                                    d'informations
                                </a>

                            </div>
                        </div>


                    </div>
                </div>
            </div>

        }


    </div>
</div>



</table>